//This file contains all the variables, mixins, functions and
//media query mixins (used to add responsiveness to the website) that used throughout website.
@import url("https://fonts.googleapis.com/css?family=Merienda|Roboto");

$primary-color: rgb(75, 89, 95);
$secondary-color: #1699e6;
$show-home-image: true;
$home-image: url(../images/portfolio-background.png);
$background-opacity: 0.6;
$primary-font: "Roboto", cursive, "Times New Roman", serif;
$secondary-font: "Merienda", cursive, "Times New Roman", serif;
//Below works like a function.
@mixin easeOut {
  transition: all 0.75s ease-in;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary-color, $background-opacity);
        z-index: -1;
      }
    }
  }
}

//Set Text color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

//Media Query Mixins
@mixin mediaSm {
  @media (max-width: 500px) {
    @content; //Whatever you put in the mixin elsewhere will be placed here.
  }
}

@mixin mediaMd {
  @media (max-width: 768px) {
    @content; //Whatever you put in the mixin elsewhere will be placed here.
  }
}

@mixin mediaLg {
  @media (min-width: 769) and (max-width: 1170px) {
    @content; //Whatever you put in the mixin elsewhere will be placed here.
  }
}

@mixin mediaXl {
  @media (min-width: 1171px) {
    @content; //Whatever you put in the mixin elsewhere will be placed here.
  }
}
