@import "config";
@import "menu";
@import "mobile";
//Targets whole page.
* {
  box-sizing: border-box;
}

@mixin techLogo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 7px;
  place-self: center;
}

body {
  @include background();
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: $primary-font;
  line-height: 1.5;
}

//Headings

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 4rem;
    font-family: $secondary-font;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  padding: 4rem;
  min-height: calc(
    100vh - 60px
  ); //This makes footer always stick to the bottom (60px is height of footer).

  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.text-secondary {
  color: $secondary-color;
}

//Below starts the styling for the about page.
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio bio"
    "techno techno techno techno"
    "tech1 tech2 tech3 tech4"
    "tech5 tech6 tech7 tech8"
    "tech9 tech10 tech11 tech12";
  grid-template-columns: repeat(4, 1fr);
  .logo {
    margin: auto;
    font-size: 4.5em;
    &-text {
      color: white;
      font-family: $logo-text-font;
    }
    &-tag {
      color: $secondary-color;
      font-family: $secondary-font;
      margin: -16px;
    }
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;

    .text-secondary {
      font-family: $secondary-font;
    }
  }

  .technologies {
    grid-area: techno;
    text-align: center;
    font-size: 1.5rem;
    font-family: $secondary-font;
    color: $secondary-color;
  }

  .tech-1 {
    grid-area: tech1;
    display: grid;
    width: 200px;
    img {
      @include techLogo();
    }
    p {
      place-self: center;
    }
  }

  .tech-2 {
    grid-area: tech2;
    @extend .tech-1;
  }

  .tech-3 {
    grid-area: tech3;
    @extend .tech-1;
  }

  .tech-4 {
    grid-area: tech4;
    @extend .tech-1;
  }

  .tech-5 {
    grid-area: tech5;
    @extend .tech-1;
  }

  .tech-6 {
    grid-area: tech6;
    @extend .tech-1;
  }
  .tech-7 {
    grid-area: tech7;
    @extend .tech-1;
  }
  .tech-8 {
    grid-area: tech8;
    @extend .tech-1;
  }

  .tech-9 {
    grid-area: tech9;
    @extend .tech-1;
  }

  .tech-10 {
    grid-area: tech10;
    @extend .tech-1;
  }

  .tech-11 {
    grid-area: tech11;
    @extend .tech-1;
  }
  .tech-12 {
    grid-area: tech12;
    @extend .tech-1;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

//Styling for work page.
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.9rem;

  img {
    width: 100%;
    border: 3px white solid;
    max-height: 155px;

    &:hover {
      opacity: 0.7;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

//Button styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
    @include easeOut;
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: white;
  text-align: center;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
  text-align: center;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

//Contact page styling.
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px white solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);

      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}
